package templ

templ Index() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>Not Found!</title>
		</head>
		<body>
			<span>The page you were looking for wasn't found!</span>
		</body>
	</html>
}
