package frontend

import (
	"fmt"
	"github.com/lorypelli/server/frontend/components"
	"github.com/lorypelli/server/frontend/utils"
)

templ Index(route string, listing utils.Listing, view utils.View) {
	@layout(fmt.Sprintf("Index of %s", route)) {
		<header class="toolbar">
			@components.Breadcrumbs(route, view)
			@components.ViewToggle(view)
		</header>
		@components.Summary(listing)
		<ul class={ "entries", templ.KV("grid", view == utils.GridView) }>
			if route != "/" {
				@components.ParentEntry(route, view)
			}
			for _, entry := range listing.Entries {
				@components.Entry(route, entry, view)
			}
			if len(listing.Entries) == 0 {
				<li class="empty">This directory is empty</li>
			}
		</ul>
	}
}
