package components

import (
	"github.com/lorypelli/server/templ/utils"
	"path/filepath"
)

templ File(path string, dir string, f utils.File) {
	<div class="file">
		if f.IsDir {
			@FolderIcon()
		} else {
			@FileIcon()
		}
		if path == "/" {
			<a href={ templ.URL(f.Name) }>
				<span>{ f.Name }</span>
			</a>
		} else {
			<a href={ templ.URL(filepath.Base(dir) + "/" + f.Name) }>
				<span>{ f.Name }</span>
			</a>
		}
	</div>
}
