package components

import "github.com/lorypelli/server/frontend/utils"

templ Breadcrumbs(route string, view utils.View) {
	<nav class="breadcrumbs">
		<a href={ utils.Dir("/", view) }>
			@homeIcon()
		</a>
		for _, crumb := range utils.Crumbs(route, view) {
			<span class="separator">/</span>
			<a href={ crumb.Href }>{ crumb.Name }</a>
		}
	</nav>
}
