package components

import "github.com/lorypelli/server/frontend/utils"

templ File(path string, dir string, f utils.File) {
	<div class="file">
		if f.IsDir {
			@FolderIcon()
		} else {
			@FileIcon()
		}
		<a href={ utils.GetURL(path, dir, f) }>
			<span>{ f.Name }</span>
		</a>
	</div>
}
