* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

span {
    font-size: 2.5rem;
    text-align: center;
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

svg {
    width: 1.5rem;
    height: 1.5rem;
}

.error,
.no_files_error {
    color: red;
}

.dir {
    font-style: italic;
    color: gray;
}

.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    overflow-wrap: break-word;
    gap: 0.5rem;
}

.no_files {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 110px);
}

.no_files_error {
    font-size: 5rem;
    font-style: italic;
    font-weight: bold;
}

.file {
    max-width: 100%;
    padding: 0.5rem;
    border: 0.25rem solid;
    border-radius: 0.5rem;
}
